@font-face{
    font-family: 'Lato-Thin';
    src: url(../fonts/Lato/Lato-Thin.ttf);
}
@font-face{
    font-family: 'Lato-Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face{
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face{
    font-family: 'Lato-LightItalic';
    src: url(../fonts/Lato/Lato-LightItalic.ttf);
}
